
	<div class="menu" data-ng-if="!clickPlay && !clickHighscores">
		<button ng-click="playGame()">Play</button></br>
		<button ng-click="showHighscores()">Highscore</button>
	</div>


	<div data-ng-if="clickPlay" >
		<div class="title">Space invanders</div>
		<div space-invaders-game></div>
	</div>

	<div data-ng-if="clickHighscores">
		<div class="title">Highscores</div>
		</br>
		<div class="highscores">
			<button ng-click="returnMenu()">Return</button>
		</div>
	</div>

