body {
	background-color:rgba(255,255,255,0.9);
	background-image: 
	url('../images/background1.png'),
	url('../images/background1.png'),
	url('../images/background1.png');
	animation:ruch 300s ;
}

@keyframes ruch
      {

        0% {background-position:0 0, 0 0, 0 0;}
        100% {background-position:0 10000px, 7500px 0,0 5000px;}
      }

.menu {
	  position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.menu button {
	padding: 20px 0 20px 0;
	margin-bottom: 30px;
	min-width: 150px;
}

.highscores {
	text-align: center;
}

.highscores button {
	padding: 20px 0 20px 0;
	margin-bottom: 30px;
	min-width: 150px;
}


.title {
	text-align: center;
	background-color: white;
	font-size: 40px;
}

#cr-stage {
	border:1px solid red;
  margin: 0px auto;
}